{% extends "e_base.twig" %}

{% block title %}Jobstreet.io | No. 1 Job Posting Site{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <header class="header-section">
        <div class="header-warp">
            <div class="container">
                <div class="row">
                    <div class="main-menu col align-self-start">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="#">Search Jobs</a></li>
                    </div>
                    <div class="user-panel col align-self-end text-right">
                        <button id="header-login-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#login-panel">Login</button>
                        <span>/</span>
                        <button id="header-register-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#register-panel">Register</button>
                        <span></span>
                        <a href="/" id="header-employer-btn" class="btn btn-primary" type="button">Candidate Site</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <section class="hero-section set-bg bg-overlay" style="background-image: url('../../img/e_index2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text text-white">
                        <h2>Jobstreet</h2>
                        <p> This is a test project developed to enhance my web development skills. This is
                            influenced by Jobstreet.com which is the no. 1 recruitment site in Malaysia with over
                            29,000 vacancies to find your next career opportunity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2>Integrated Sourcing</h2>
                    <div class="lead text-center">
                        <p>Next level recruitment where Job Ads and Talent Search are integrated to make it easier and faster for you to source.</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 fact-item text-center">
                        <figure>
                            <i class='fas fa-clipboard-list' style='font-size:48px; padding: 15px'></i>
                            <h4>Job Ads</h4>
                            <p>Attract the best talent and connect to quality candidates</p>
                        </figure>
                    </div>
                    <div class="col-md-5 fact-item text-center">
                        <figure>
                            <i class='fas fa-search' style='font-size:48px; padding: 15px'></i>
                            <h4>Talent Search</h4>
                            <p>Proactively engage with talents in the marketplace</p>
                        </figure>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <!-- Login Modal -->
        <div class="modal fade" id="login-panel" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col align-self-start">
                                <h4 class="modal-title">Login</h4>
                            </div>
                            <div class="col position-absolute">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="login-form" action="/v1/employer/login" method="post">
                            <div class="form-group">
                                <label for="company_email">Employer Email:</label>
                                <input type="email" class="form-control" name="company_email" id="company_email"
                                       autocomplete="off" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="company_password">Password:</label>
                                <input type="password" class="form-control" name="company_password"
                                       id="company_password" placeholder="Password" autocomplete="off" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" name="login">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <!-- Register Modal -->
        <div class="modal fade" id="register-panel" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header d-flex align-content-around">
                        <div class="row">
                            <div class="col">
                                <h4 class="p-2 modal-title">Register</h4>
                            </div>
                            <div class="col position-absolute">
                                <button type="button" class="ml-5 close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="register-form" action="/v1/employer/register" method="post">
                            <div class="form-group">
                                <label for="company_contact_person">Contact Person Name:</label>
                                <input type="text" class="form-control form-control-sm" name="company_contact_person"
                                       id="company_contact_person" autocomplete="off" required>
                            </div>

                            <div class="form-group">
                                <label for="company_name">Company Full Name:</label>
                                <input type="text" class="form-control form-control-sm" name="company_name"
                                       id="company_name" autocomplete="off"
                                       placeholder="Same as business registration documents" required>
                            </div>

                            <div class="form-group">
                                <label for="company_email">Email:</label>
                                <input type="email" class="form-control form-control-sm" name="company_email"
                                       id="company_email" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <label for="employer_contact_num">Daytime Contact No:</label>
                                <input type="text" class="form-control form-control-sm" name="employer_contact_num"
                                       id="employer_contact_num" autocomplete="off" placeholder="+60" required>
                            </div>
                            <div class="form-group">
                                <label for="company_password">Password:</label>
                                <input type="password" class="form-control form-control-sm" name="company_password"
                                       id="company_password" autocomplete="off" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" name="login">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}