{% extends "base.twig" %}

{% block title %}Jobstreet.io | About Us{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <header class="header-section">
        <div class="header-warp">
            <div class="container">
                <div class="row">
                    <div class="main-menu col align-self-start">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/v1/vacancies/all">Search Jobs</a></li>
                    </div>
                    <div class="user-panel col align-self-end text-right">
                        <button id="header-login-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#login-panel">Login</button>
                        <span>/</span>
                        <button id="header-register-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#register-panel">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
<section class="hero-section set-bg bg-overlay" style="background-image: url('../../img/bb.jpg');
background-position: 100%">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 align-content-start hero-text text-offwhite text-justify">
                <div class="row align-self-start">
                    <h5 style="padding-top: 100px; padding-right: 40px; line-height: 2; color: #f7f7f7;">
                        <i>This is a test project developed to enhance my web development skills. This is
                            influenced by Jobstreet.com which is the no. 1 recruitment site in Malaysia with over 29,000
                            vacancies to find your next career opportunity.</i>
                    </h5>
                </div>
            </div>
            <div class="col col-md-6 align-content-end hero-text text-white text-justify">
                <p class="">
                    Founded in Malaysia in 1997, JobStreet.com now has a team of 800 talented individuals,
                    giving us a strong local presence in every country in which we operate.
                    With our understanding and insights on each market, as well our passion for technology,
                    we provide jobseekers the best opportunities and deliver exceptional value to employers.
                    In November 2014, we became part of the Australian Stock Exchange-listed SEEK Limited –
                    the world’s largest online employment marketplace by market capitalisation.
                </p>

                <p class="">
                    As part of the SEEK family,
                    we leverage world-class products to match talented job seekers with reputable employers across
                    the region.
                    We are committed to continuously improving the value we provide to jobseekers and employers.
                    To deliver on this, we continue to evolve our product and service offerings to better facilitate
                    the matching of job-seekers to employers.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- Login Modal -->
    <div class="modal fade" id="login-panel" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col align-self-start">
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="col position-absolute">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                    </div>
                </div>
                <div class="modal-body">
                    <form class="login-form" action="/v1/employee/login" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" id="email" autocomplete="off"
                                   placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                                   placeholder="Password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="login">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <!-- Register Modal -->
    <div class="modal fade" id="register-panel" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header d-flex align-content-around">
                    <div class="row">
                        <div class="col">
                            <h4 class="p-2 modal-title">Register</h4>
                        </div>
                        <div class="col position-absolute">
                            <button type="button" class="ml-5 close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="register-form" action="/v1/employee/register" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="first_name">First Name:</label>
                                <input type="text" class="form-control form-control-sm" name="first_name" id="first_name" autocomplete="off"
                                       placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last_name">Last Name:</label>
                                <input type="text" class="form-control form-control-sm" name="last_name" id="last_name" autocomplete="off"
                                       placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control form-control-sm" name="email" id="email" autocomplete="off"
                                   placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="contact_no">Contact No:</label>
                            <input type="text" class="form-control form-control-sm" name="contact_no" id="contact_no" autocomplete="off"
                                   placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control form-control-sm" name="password" id="password" autocomplete="off"
                                   placeholder="Password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="login">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}