{% extends "base.twig" %}

{% block title %}Jobstreet.io | This is an index test page{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <header class="header-section">
        <div class="header-warp">
            <div class="container">
                <div class="row">
                    <div class="main-menu col align-self-start">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/v1/vacancies/all">Search Jobs</a></li>
                    </div>
                    <div class="user-panel col align-self-end text-right">
                        <button id="header-login-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#login-panel">Login</button>
                        <span>/</span>
                        <button id="header-register-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#register-panel">Register</button>
                        <span></span>

                        <a id="header-employer-btn" class="btn btn-primary" type="button" href="/v1/employer/">Employers</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <section class="hero-section set-bg bg-overlay" style="background-image: url('../../img/klcc.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text text-white">
                        <h2>Jobstreet</h2>
                        <p> This is a test project developed to enhance my web development skills. This is
                            influenced by Jobstreet.com which is the no. 1 recruitment site in Malaysia with over
                            29,000 vacancies to find your next career opportunity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fact-section spad">
        <div class="row">
            <div class="col-md-4 fact-item" style="padding-left: 8%;">
                <figure>
                    <img src="../../img/icons/4.png" alt>
                    <h2>2500</h2>
                    <p>Job Opportunities</p>
                </figure>
            </div>
            <div class="col-md-4 fact-item" style="padding-left: 8%;">
                <figure>
                    <img src="../../img/icons/1.png" alt>
                    <h2>500</h2>
                    <p>Top Employers</p>
                </figure>
            </div>
            <div class="col-md-4 fact-item" style="padding-left: 8%;">
                <figure>
                    <img src="../../img/icons/2.png" alt>
                    <h2>700</h2>
                    <p>Fresh Grad Openings</p>
                </figure>
            </div>
        </div>
    </section>
    <div class="container">
        <!-- Login Modal -->
        <div class="modal fade" id="login-panel" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col align-self-start">
                                <h4 class="modal-title">Login</h4>
                            </div>
                            <div class="col position-absolute">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="login-form" action="/v1/employee/login" method="post">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email" id="email" autocomplete="off"
                                       placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                                       placeholder="Password" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" name="login">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <!-- Register Modal -->
        <div class="modal fade" id="register-panel" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header d-flex align-content-around">
                        <div class="row">
                            <div class="col">
                                <h4 class="p-2 modal-title">Register</h4>
                            </div>
                            <div class="col position-absolute">
                                <button type="button" class="ml-5 close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="register-form" action="/v1/employee/register" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="first_name">First Name:</label>
                                    <input type="text" class="form-control form-control-sm" name="first_name" id="first_name" autocomplete="off"
                                           placeholder="First Name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="last_name">Last Name:</label>
                                    <input type="text" class="form-control form-control-sm" name="last_name" id="last_name" autocomplete="off"
                                           placeholder="Last Name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control form-control-sm" name="email" id="email" autocomplete="off"
                                       placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="contact_no">Contact No:</label>
                                <input type="text" class="form-control form-control-sm" name="contact_no" id="contact_no" autocomplete="off"
                                       placeholder="Phone Number" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control form-control-sm" name="password" id="password" autocomplete="off"
                                       placeholder="Password" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" name="login">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}