{% extends "base.twig" %}

{% block title %}Jobstreet | About Us{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block section %}
    <section class="hero-section set-bg bg-overlay" style="background-image: url('../../img/klcc.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text text-white">
                        <h2>Jobstreet</h2>
                        <p> This is a test project developed to enhance my web development skills. This is
                            influenced by Jobstreet.com which is the no. 1 recruitment site in Malaysia with over
                            29,000 vacancies to find your next career opportunity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fact-section spad">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-md-4 align-self-start fact-item" style="padding-left: 8%;">
                    <figure class="align-self-center">
                        <img src="../../img/icons/4.png" alt>
                        <h2>2500</h2>
                        <p>Job Opportunities</p>
                    </figure>
                </div>
                <div class="col-md-4 align-self-center fact-item" style="padding-left: 8%;">
                    <figure class="align-self-center">
                        <img src="../../img/icons/1.png" alt>
                        <h2>500</h2>
                        <p>Top Employers</p>
                    </figure>
                </div>
                <div class="col-md-4 align-self-end fact-item" style="padding-left: 8%;">
                    <figure class="align-self-center">
                        <img src="../../img/icons/2.png" alt>
                        <h2>700</h2>
                        <p>Fresh Grad Openings</p>
                    </figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
