<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobstreet.io | This is an index test page</title>
    <meta name="description" content="This is a test project developed to enhance my web development skills. This is
        influenced by Jobstreet.com which is the no. 1 recruitment site in Malaysia with over 29,000 vacancies to find
        your next career opportunity.">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>
<body>
    <header class="header-section">
        <div class="header-warp">
            <div class="container d-flex">
                <div class="site-logo">
                    <h2><a href="../index.php">JS</a></h2>
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars">
                        ::before
                    </i>
                </div>
                <div class="main-menu">
                    <li><a href="../index.php">Home</a></li>
                    <li><a href="#">About Us</a></li>
                </div>
                <div class="user-panel float-lg-right">
                    <a href="#">Login</a>
                    <span>/</span>
                    <a href="#">Register</a>
                </div>
            </div>
        </div>
    </header>
    <section class="hero-section set-bg bg-overlay" style="background-image: url('../img/klcc.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text text-white">
                        <h2>Jobstreet</h2>
                        <p> This is a test project developed to enhance my web development skills. This is
                            influenced by Jobstreet.com which is the no. 1 recruitment site in Malaysia with over 29,000 vacancies to find
                            your next career opportunity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="multi-search-section">
        <div class="msf-warp">
            <div class="container">
                <h5>Search for opportunities</h5>
                <form class="multi-search-form">
                    <input type="text" placeholder="Job Keywords">
                    <input type="text" placeholder="Location">
                    <input type="text" placeholder="Min. Salary">
                    <button class="site-btn">Search</button>
                </form>
            </div>
        </div>
    </section>
    <section class="fact-section spad">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-3 col-sm-6 fact-item">
                    <figure>
                        <img src="../img/icons/4.png" alt>
                        <h2>2500</h2>
                        <p>Job Opportunities</p>
                    </figure>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <figure>
                        <img src="../img/icons/1.png" alt>
                        <h2>500</h2>
                        <p>Top Employers</p>
                    </figure>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <figure>
                        <img src="../img/icons/2.png" alt>
                        <h2>700</h2>
                        <p>Fresh Grad Openings</p>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section spad pb-0">
        <div class="container">
            <div class="footer-bottom align-items-center">
                <ul class="footer-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Send Feedback</a></li>
                    <li><a href="#">Work With Us</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-white text-center">
                    Copyright © 2019 All Rights Reserved
                </p>
            </div>

        </div>
    </footer>
</body>
</html>